/* TYPO  /////////////////////////////// */
@font-face {
  font-family: "beloved";
  src: url("font/beloved-bold.woff");
}

@font-face {
  font-family: "6x7oct-bold";
  src: url("font/6x7oct-extra-bold.ttf");
}

@font-face {
  font-family: "6x7oct-regular";
  src: url("font/6x7oct.ttf");
}

/* GDPR COOKIE  /////////////////////////////// */
.gdpr-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.095);
  z-index: 999;
  text-align: center;
  border-radius: 15px;
}
.gdpr-accept {
  background-color: greenyellow;
  border-radius: 10px;
  padding: 0 auto;
}
/* CSS for the screen-lock overlay */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(25px);
  z-index: 998;
}

/* WRAPPER //////////////////////////////////// */
/* //////////////////////////////////////////// */
.wrapper {
  cursor: none;
  background-color: #b5b1e7;
  width: 100%;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "6x7oct-bold";
}

/* INSTRUCTIONS  //////////////////////////////////// */
#bloc-instruction {
  position: fixed;
  width: 70%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px #d5d2fcb3;
  z-index: 999;
  text-align: center;
  border-radius: 15px;
  display: none;
}

#bloc-game-over {
  position: fixed;
  width: 70%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px #d5d2fcb3;
  z-index: 999;
  text-align: center;
  border-radius: 15px;
  display: none;
}

/* COOKIES  //////////////////////////////////// */
.little-cookie {
  width: 75px;
  height: 75px;
  position: absolute;
}

/* CURSOR  //////////////////////////////////// */
.custom-cursor {
  display: none;
  position: absolute;
  pointer-events: none;
  width: 70px;
  z-index: 10000;
}

/* HEADER  //////////////////////////////////// */
header {
  width: 70%;
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
}

/* BTN COOKIE-CLICKER */
#btn-cookieClicker {
  cursor: none;
  max-width: 530px;
  height: auto;
  margin: 0 auto;
}

/* TITLE */
h1 {
  font-size: 170px;
  rotate: -10deg;
  font-family: "beloved";
  line-height: 150px;
  margin: 50px 0 50px 50px;
}

/* MAIN  //////////////////////////////////// */
main {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  border: 1px solid red;
}

main .btn {
  padding: 20px 30px;
  background-color: #d5d2fc;
  border-radius: 20px;
  height: 130px;
  cursor: none;
}
.btn-action {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 30px;
  background: #d5d2fc;
  border-radius: 30px;
  border-radius: 30px;
  box-shadow:
    3px 3px 3px 0px rgba(255, 255, 255, 0.63) inset,
    -3px -3px 3px 0px rgba(0, 0, 0, 0.75) inset;
}

#screen-score {
  box-shadow: 5px 5px 5px 0px rgba(56, 56, 56, 0.528) inset;
}
.btn-other {
  width: 50%;
  box-shadow:
    3px 3px 3px 0px rgba(255, 255, 255, 0.63) inset,
    -3px -3px 3px 0px rgba(0, 0, 0, 0.75) inset;
}
#info-and-reset {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.icon {
  height: 90px;
  align-self: center;
}

/* FOOTER  //////////////////////////////////// */
footer {
  display: none;
}

/* Golden Cookie //////////////// */
.golden-cookie {
  width: 50px;
  height: 50px;

  position: absolute;
}
