/* WRAPPER ///////////////// */
.wrapper {
  background-color: rgb(235, 226, 217);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER ///////////////// */
header {
  display: flex;
  flex-direction: row;
}

/* SECTION BTN */
section {
  display: flex;
  align-items: center;
}

/* BTN */
button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
}

#btn-autoClicker {
  background-color: blue;
}
#btn-multiplicator {
  background-color: green;
}
#btn-booster {
  background-color: rgb(226, 226, 45);
}
#btn-cookieClicker {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: brown;
}

/* MAIN  ///////////////// */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
